build
.idea
cmake-build-debug
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
.Rhistory

benchmarks_1k/*.png
benchmarks_1k/*.csv
benchmarks_1k/*log
benchmarks_1k/outputs
benchmarks_1k/venv
benchmarks_1k/insert/*
benchmarks_1k/query/*
benchmarks_1k/data/*

benchmarks_10k/*.png
benchmarks_10k/*.csv
benchmarks_10k/*log
benchmarks_10k/outputs
benchmarks_10k/venv
benchmarks_10k/insert/*
benchmarks_10k/query/*
benchmarks_10k/data/*

benchmarks_100k/*.png
benchmarks_100k/*.csv
benchmarks_100k/*log
benchmarks_100k/outputs_100k
benchmarks_100k/venv
benchmarks_100k/insert/*
benchmarks_100k/query/*
benchmarks_100k/data/*

*.wal